@font-face {
  font-family: "Inter";
  src: url(fonts/Inter-VariableFont_opsz,wght.ttf) format("ttf"),
}

:root {
  /* color */
  --link-color: hsl(125, 100%, 50%);
  --link-color-active: hsl(231, 100%, 50%);
  --site-background: hsl(62, 100%, 50%);
  --text-color-light: hsl(0, 9%, 93%);
  --text-color-dark: hsl(0, 0%, 10%);

  /* transition */
  --hover-transition: 250ms ease-in-out;
  --transition: 400ms ease-in-out;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100dvh;
  width: 100dvw;
  background-color: var(--site-background);
  color: var(--text-color-dark);
}

a {
  text-decoration: none;
  color: inherit;
  background-color: var(--link-color);
  font-weight: 600;
  cursor: pointer;
  transition: var(--hover-transition);

  &:hover {
    transform: scale(1.05);
    background-color: var(--link-color-active);
    color: var(--text-color-light);
  }
}

p {
  font-size: 1.2rem;
}