@font-face {
  font-family: "Inter";
  src: url(fonts/Inter-VariableFont_opsz,wght.ttf) format("ttf"),
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  font-size: 1.2rem;
}