
@font-face {
  font-family: "Rubik";
  src: url('/fonts/Rubik-VariableFont_wght.ttf') format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Zalando Sans";
  src: url('/fonts/ZalandoSansExpanded-VariableFont_wght.ttf') format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  /* color */
  --color-primary: hsl(125, 100%, 50%);
  --color-secondary: hsl(231, 100%, 50%);
  --color-tertriary: hsl(62, 100%, 50%);
  --color-light: hsl(0, 9%, 93%);
  --color-dark: hsl(0, 0%, 10%);
  --color-shadow:hsla(0, 0%, 10%, 0.9);
  --color-link-visited:hsl(83, 89%, 65%);

  /* fonts */
  --font-family-primary: "Rubik", sans-serif;
  --font-family-heading: "Zalando Sans", sans-serif;
  --font-weight-normal:400;
  --font-weight-medium:600;
  --font-weight-bold:900;

  /* text sizes */  
  --text-regular-size-s:1rem;
  --text-regular-size-m:1.2rem;
  --text-regular-size-l:1.6rem;
  --text-regular-line-height-s:2rem;
  --text-regular-line-height-m:2.3rem;

  /* transition */
  --hover-transition: 300ms 50ms ease-in-out;
  --transition: 200ms ease-in-out;
  --scroll-animation:2s ease-in-out forwards;

  /* utils */
  --padding-small:1rem;
  --padding-regular:2rem;
  --padding-medium:4rem;
  --padding-large:6rem;
  --padding-containter: var(--padding-regular) var(--padding-medium);
  --padding-containter-large: var(--padding-regular) var(--padding-large);

  --margin-block: 1.5rem;

  --border-radius:1rem;
  --border-radius-full:10rem;

  --gap-small:.5rem;
  --gap-regular: 1rem;
  --gap-medium: 2rem;

  /* height & width */
  --height-full-screen:100dvh;
  --width-full-screen:100dvw;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family-primary);
}

:focus {
  color:var(--color-link-active);
}

::selection {
  background: var(--color-tertriary);
  color:var(--color-secondary);
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: var(--height-full-screen);
  width: 100dvw;
  background-color: var(--color-dark);
  color: var(--color-light);
  display: block;
}

main {
  min-height:var(--height-full-screen)
}

  img, 
  video {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
  }
  img,
  img:focus,
  video,
  video:focus {
    border-radius:var(--border-radius);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: 3rem;
    font-family:var(--font-family-heading);
    font-weight:var(--font-weight-bold)
  }

ul {
  padding-inline-start: 2rem;
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
}

p,
a,
li,
button {
  font-size: var(--text-regular-size-s);
  line-height: var(--text-regular-line-height-s);
  font-weight:var(--font-weight-normal);

    @media (min-width: 700px) {
    font-size: var(--text-regular-size-m);
    line-height: var(--text-regular-line-height-m);
    }
}

p {
  margin-block:var(--margin-block);
}


a {
  text-decoration: none;
  color :var(--color-primary);
  position: relative;

  &:visited {
    color: var(--color-link-visited);
  }

  &:hover{
    color: var(--color-tertriary);
    text-decoration:underline;
  }
}

	@keyframes float {
		0% { transform: translateY(0) translateX(5px); }
		50% { transform: translateY(-10px) translateX(-2px); }
		100% { transform: translateY(0) translateX(5px); }
	}

  .float {
    animation: float 5s ease-in-out infinite;
  }

  .float:nth-of-type(3n+1) {
  animation-delay: -1s;
}

.float:nth-of-type(3n+2) {
  animation-delay: -2s;
}

.float:nth-of-type(3n+3) {
  animation-delay: -3s;
}
@keyframes grow {
  from {
    transform: scale(0.5);
    opacity:0;
  }
  to {
    transform: scale(1);
    opacity:1;
  }
}

.scroll-grow {
    animation:grow var(--scroll-animation);
		animation-timeline: view();
		animation-range: 0dvh 50dvh;
}