@font-face {
  font-family: "Inter";
  src: url(static/fonts/Inter-VariableFont_opsz,wght.ttf) format("ttf"),
}

:root {
  /* color */
  --link-color: hsl(125, 100%, 50%);
  --link-color-active: hsl(231, 100%, 50%);
  --site-background: hsl(62, 100%, 50%);
  --text-color-light: hsl(0, 9%, 93%);
  --text-color-dark: hsl(0, 0%, 10%);

  /* transition */
  --hover-transition: 250ms ease-in-out;
  --transition: 400ms ease-in-out;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100dvh;
  width: 100dvw;
  background-color: var(--text-color-dark);
  color: var(--text-color-light);
  display: block;
}

p,
a,
li {
  font-size: 1.2rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color:var(--text-color-dark);
  font-weight: 600;
  cursor: pointer;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--link-color); 
    z-index: -2; 
  }

  &::after {
    content: "";
    color:var(--text-color-light);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--link-color-active); 
    transition: var(--hover-transition);
    z-index: -1; 
  }

  &:hover::after {
    width: 100%;
  }

  &:hover {
    color: var(--text-color-light);
    transition-delay: 100ms;
  }
}
