@font-face {
  font-family: "Inter";
  src: url(static/fonts/Inter-VariableFont_opsz,wght.ttf) format("ttf"),
}

:root {
  /* color */
  --link-color: hsl(125, 100%, 50%);
  --link-color-visited:hsl(83, 89%, 65%);
  --link-color-hover:hsl(314, 100%, 53%);

  --link-color-active: hsl(231, 100%, 50%);
  --site-background: hsl(62, 100%, 50%);
  --text-color-light: hsl(0, 9%, 93%);
  --text-color-dark: hsl(0, 0%, 10%);
  --color-shadow: hsla(0, 0%, 10%, 0.95);

  /* transition */
  --hover-transition: 300ms 50ms ease-in-out;
  --transition: 200ms ease-in-out;

  /* utils */
  --margin-block: 1.5rem;
  --border-radius:1rem;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100dvh;
  width: 100dvw;
  background-color: var(--text-color-dark);
  color: var(--text-color-light);
  display: block;
}

  img, 
  video {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: 3rem;
  }

ul {
  padding-inline-start: 2rem;
}

p,
a,
li {
  font-size: 1rem;
  line-height: 2rem;

    @media (min-width: 768px) {
    font-size: 1.2rem;
    line-height: 2.3rem;
    }
}

p {
  margin-block:var(--margin-block);
}


a {
  text-decoration: none;
  color :var(--link-color);
  font-weight: 600;
  position: relative;

  &:visited {
    color: var(--link-color-visited);
  }

  &:hover{
    color: var(--site-background);
    text-decoration:underline;
  }
}