@font-face {
  font-family: "Inter";
  src: url(static/fonts/Inter-VariableFont_opsz,wght.ttf) format("ttf"),
}

:root {
  /* color */
  --link-color: hsl(125, 100%, 50%);
  --link-color-active: hsl(231, 100%, 50%);
  --site-background: hsl(62, 100%, 50%);
  --text-color-light: hsl(0, 9%, 93%);
  --text-color-dark: hsl(0, 0%, 10%);

  /* transition */
  --hover-transition: 250ms ease-in-out;
  --transition: 400ms ease-in-out;

  /* utils */
  --margin-block: 1.5rem;
  --border-radius:1rem;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100dvh;
  width: 100dvw;
  background-color: var(--text-color-dark);
  color: var(--text-color-light);
  display: block;
}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: 3rem;
  }

p,
a,
li {
  font-size: 1.2rem;
  line-height: 2rem;
}

p {
  margin-block:var(--margin-block);
}


a {
  color: var(--link-color);
  text-decoration:none;
  font-style:italic;
  transition: 150ms 0ms ease-in;

  &:visited {
    color: var(--link-color-visited);
  }

  &:hover{
    color: var(--link-color-hover);
    text-decoration:underline;

  }
}